.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #1a1a1a;
  color: white;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.header a:hover {
  color: #ddd;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.navigation li a {
  font-size: 1.2rem;
  color: white;
}

.navigation li a:hover {
  color: #ddd;
}
