.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .list {
    grid-template-columns: 1fr;
  }
}
